body{
    padding: 0;
    margin:0;
    display: flex;
    height: 100%;
    font-family: 'robotoregular';
     
}

@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('font/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

button,
label,
input{
  margin: 0;
  box-sizing: border-box;
  height: 35px;
}

.image-container{
  position: relative;
  height: 140vh;
  width: 40vw;
  background:url("image/tanya-prodaan-jPKsEDhjhNs-unsplash.jpg");
  background-size: cover;
  flex-shrink: 0;
}
 

.title{
  position: absolute;
  height: 15%;
  width: 100%;
  inset: 17% 0 auto 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.198);
  
}
 .logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  position: absolute;
  top: 2%;
 }

 .logo-container a{
  display: inline-block;
  height: 100%;
  padding: 0;
 }
 
 .logo-container img{
  height: 92%;
 }

.title #text{
  align-self: center;
  font-size:2.5rem;
  font-weight: 600;
  color: aliceblue;
  font-family:'rosemartinregular';
}

.credit-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top:97%;
}


#image-credit{
  color: white;
  font-size: 1rem;
  font-size: 0.75rem;
}
 

.form-side{
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgb(235, 235, 224);
}


.service-description{
  padding: 0;
  margin: 15% 10% 5% 4ch;
  font-size: 1.35rem;
  font-weight: 600;
  color: rgba(19, 18, 18, 0.911);
   
}

.form{
  background-color: rgb(251, 251, 245);
  padding-left: 6ch;
  box-shadow: 0 1px 5px rgb(211, 210, 210),
              0 3px 5px rgb(211, 210, 210);
  padding-bottom: 2%;
}

#form-header{
  color: rgba(153, 137, 143, 0.755);
}

 .form-line{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 20%;
  margin-bottom: 3%;
  gap: 16px;

 }

.textbox{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  width: 45%;
}

label{
  font-size: 10px ;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.794);
  padding: 0;
  letter-spacing: 2px;
  height: 40%;
}

input{
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid rgb(224, 221, 221);
}

.account-access{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12%;
  margin-top: 4%;
  margin-left:6ch;
}

button{
  width: 32%;
  height: 45%;
  border-radius: 8px;
  border: none;
  background-color: rgb(216, 185, 201);
  color: aliceblue;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.338);
}
.account-access p{
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.794);
}

.account-access a{
  text-decoration: none;
  color: rgb(186, 133, 161); ;
}

.credit{
  padding: 0;
  margin-left: 6ch;
  margin-top: auto;
  color:rgba(0, 0, 0, 0.794);;
}

.credit a{
  text-decoration: none;
  color: inherit;
}

button:hover{
  cursor: pointer;
}
/*validation*/
input:valid{
  outline: 1px solid green;
  background-color: rgba(0, 128, 0, 0.182);
}

input:focus{
  background-color: rgb(246, 235, 235);
  outline:1px solid rgb(189, 135, 174);
  box-shadow: 3px 2px 5px gray;
}

input:focus:invalid{
  outline: 1px solid red;
  background-color: rgba(255, 0, 0, 0.194);
}






